<tr>
  <th>follows</th>
  <td>
    <%= link_to user_followings_path(user) do %>
    <%= user.followings.count %>
    <% end %>
    </td>
</tr>
<tr>
  <th>followers</th>
  <td>
    <%= link_to user_followers_path(user) do %>
    <%= user.followers.count %>
    <% end %>
  </td>
</tr>

