<% if user.errors.any? %>
 <div class="row">
  <h3 class=""><%= user.errors.count %> errors prohibited this obj from being saved:</h3>
 <ul>
   <% user.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
 </div>
 <% end %>