<div class="container">
  <div class="row">
   <div class="col-md-6 mx-auto pt-3 pb-5">
    <h1>welcome to <strong><i class="fas fa-book"></i>Bookers</strong> !!</h1>
    <p>in <strong><i class="fas fa-book"></i>Bookers,</strong></p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
    <div class="col-md-11 mx-auto">
     <%= link_to "Log in", new_user_session_path, class: 'btn btn-secondary bt-sm w-100 mb-3 py-1' %>
     <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success btn-sm w-100' %>
    </div>
  </div>
 </div>
</div>

