<% if book_new.errors.any? %>
 <h3 class="pt-3"><%= book_new.errors.count %> errors prohibited this obj from being saved:</h3>
 <ul>
   <% book_new.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
 <% end %>
 

 